;----------FILE MODIFICATION [2022_11_04] ---------------||
;----------BY: 您----------------------||

add:
{
	"classname"		"logic_auto"
	"OnMapSpawn"	"c5m3_churchguy_faraddoutputmins -350 0 -300-1"
	"OnMapSpawn"	"c5m3_churchguy_faraddoutputmaxs 350 0 1300-1"
	"OnMapSpawn"	"c5m3_churchguy_faraddoutputsolid 20-1"
	"OnMapSpawn"	"c5m3_churchguy_closeaddoutputmins 0 -30 -300-1"
	"OnMapSpawn"	"c5m3_churchguy_closeaddoutputmaxs 0 30 1300-1"
	"OnMapSpawn"	"c5m3_churchguy_closeaddoutputsolid 20-1"
	"OnMapSpawn"	"c5m3_DE_drill_body,alpha,1,0,-1"
	"OnMapSpawn"	"c5m3_DE_drill,alpha,1,0,-1"
	"OnMapSpawn"	"c5m3_DE_drill_body,TurnOff,,0,-1"
	"OnMapSpawn"	"c5m3_DE_drill,TurnOff,,0,-1"
	"OnMapSpawn"	"c5m3_DE_button_drill_start,Disable,,0,-1"
}

{
	"targetname" "l4d2_spawn_props_object_2022_11_04"
	"solid" "6"
	"origin" "4201.36 3269 -0.38"
	"angles" "0.00 300 0.00"
	"model"	 "models/props_vehicles/semi_trailer_freestanding.mdl"
	"classname"	"prop_dynamic_override"
}

{
	"solid" "6"
	"origin" "3026 2675 176"
	"angles" "0 180 0"
	"model"	 "models/props_urban/gate_wall003_64.mdl"
	"classname"	"prop_dynamic"
}

{
	"classname"		"trigger_once"
	"classname"		"c5m3_churchguy_far"
	"origin"		"4204.784179 3629.633300 -1.018993"
	"filtername"	"sky_filter_survs"
	"spawnflags"	"1"
	"startdisabled" "0"
	"OnTrigger"		"churchguy,SpeakResponseConcept,churchguy_far,0,-1"
}

{
	"origin"		"2954.170410 2732.254882 176.031250"
	"classname"		"func_orator"
	"targetname"	"churchguy"
	"model"			"models/props/cs_office/cardboard_box02.mdl"
	"rendermode"	"2"
	"spawnflags"	"1"
}

; 声音

{
	"classname" "ambient_generic"
	"health" "10"
	"message" "ambient/generator/generator_nostart_loop.wav"
	"pitch" "100"
	"pitchstart" "100"
	"radius" "2500"
	"spawnflags" "48"
	"targetname" "sky_generator_nostart_loop"
	"origin" "3067 2708 176"
}

{
	"classname" "ambient_generic"
	"health" "10"
	"message" "ambient/generator/generator_start_run_loop.wav"
	"pitch" "100"
	"pitchstart" "100"
	"radius" "2500"
	"spawnflags" "48"
	"targetname" "sky_generator_start_run_loop"
	"origin" "3067 2708 176"
}

{
	"classname" "ambient_generic"
	"health" "10"
	"message" "ambient/generator/generator_start_run_loop.wav"
	"pitch" "100"
	"pitchstart" "100"
	"radius" "2500"
	"spawnflags" "48"
	"targetname" "c5m3_DE_drill_body_sound_loop"
	"origin" "3067 2708 176"
}

{
	"classname" "ambient_generic"
	"health" "10"
	"message" "ambient/generator/generator_start_run_loop.wav"
	"pitch" "100"
	"pitchstart" "100"
	"radius" "2500"
	"spawnflags" "48"
	"targetname" "c5m3_DE_drill_body_sound_loop"
	"origin" "3067 2708 176"
}

{
	"classname" "env_spark"
	"Magnitude" "1"
	"MaxDelay" "0"
	"spawnflags" "384"
	"targetname" "sky_sparks"
	"TrailLength" "3"
	"origin" "3028 2708 216"
}

{
	"classname" "ambient_generic"
	"health" "10"
	"message" "physics/metal/metal_chainlink_scrape_rough_loop1.wav"
	"pitch" "100"
	"pitchstart" "100"
	"radius" "10000"
	"spawnflags" "48"
	"origin" "3028 2708 216"
	"targetname" "c5m3_DE_drill_sound_running1"
}

{
	"classname" "ambient_generic"
	"health" "10"
	"message" "physics/metal/canister_scrape_smooth_loop1.wav"
	"pitch" "100"
	"pitchstart" "100"
	"radius" "10000"
	"spawnflags" "48"
	"origin" "3028 2708 216"
	"targetname" "c5m3_DE_drill_sound_running2"
}

{
	"classname" "ambient_generic"
	"health" "10"
	"message" "physics/metal/metal_grenade_scrape_smooth_loop1.wav"
	"pitch" "100"
	"pitchstart" "100"
	"radius" "10000"
	"spawnflags" "48"
	"origin" "3028 2708 216"
	"targetname" "c5m3_DE_drill_sound_running3"
}

{
	"classname" "ambient_generic"
	"health" "10"
	"message" "physics/metal/metal_grenade_scrape_rough_loop1.wav"
	"pitch" "100"
	"pitchstart" "100"
	"radius" "10000"
	"spawnflags" "48"
	"origin" "3028 2708 216"
	"targetname" "c5m3_DE_drill_sound_running4"
}

{
	"classname" "ambient_generic"
	"health" "10"
	"message" "physics/metal/metal_box_break2.wav"
	"pitch" "100"
	"pitchstart" "100"
	"radius" "10000"
	"spawnflags" "48"
	"origin" "3028 2708 216"
	"targetname" "c5m3_DE_drill_sound_broken"
};----------FILE MODIFICATION (YY/MM/DD): [2022/11/05] ---------------||
;----------BY: 您----------------------||

add:

{
	"classname"		"trigger_once"
	"origin"		"3465.130859 2725.495605 176.031250"
	"spawnflags"	"1"
	"filtername"	"survivor"
	"OnTrigger"		"churchguy,SpeakResponseConcept,churchguy_close,0,-1"
	"OnTrigger"		"c5m3_DE_drill_body,startglowing,,0,-1"
	"OnTrigger"			"c5m3_DE_drill_body,DisableCollision,,0,-1"
	"OnTrigger"			"c5m3_DE_item_drill_body,startglowing,,0,-1"
	"OnTrigger"		"c5m3_DE_drill,startglowing,,0,-1"
	"OnTrigger"			"c5m3_DE_drill,DisableCollision,,0,-1"
	"OnTrigger"			"c5m3_DE_item_drill,startglowing,,0,-1"
	"targetname"	"c5m3_churchguy_close"
}

{
	"solid" "6"
	"origin" "3067 2708 176"
	"angles" "1080 720 0"
	"model"	 "models/props_interiors/bbq_grill.mdl"
	"classname"	"prop_dynamic"
	"targetname" "c5m3_DE_drill_body"
	"rendermode" "1"
	"glowstate" "0"
	"glowrange" "5000"
	"glowcolor" "255 255 255"
}

{
		"solid" "6"
		"origin" "3142 3173 32"
		"angles" "0 146 0"
		"model"	 "models/props_interiors/bbq_grill.mdl"
		"classname"	"prop_dynamic"
		"targetname"	"c5m3_DE_item_drill_body"
		"glowrange"		"0"
		"glowcolor"		"255 255 255"
		"glowrange"		"5000"
}

{
	"solid" "6"
	"origin" "3045 2708 216"
	"angles" "450 180 0"
	"model"	 "models/lighthouse/mate/mate_termo.mdl"
	"classname"	"prop_dynamic"
	"targetname"	"c5m3_DE_drill"
	"parentname"	"c5m3_DE_drill_rotating"
	"rendermode"	"1"
	"glowstate" "0"
	"glowrange" "5000"
	"glowcolor" "255 255 255"
}

{
		"targetname" "c5m3_DE_drill_rotating"
		"speed"			"1600"
		"distance"		"3200"
		"blockdamage" "0"
		"spawnflags" "64"
		"wait"			"-1"
		"classname" "func_door_rotating"
		"origin" 		"3045 2708 216"
		"OnFullyOpen"	"!self,toggle,,0,-1"
		"OnFullyClosed" "!self,toggle,,0,-1"
}

{
		"solid" "6"
		"origin" "4447 2922 63"
		"angles" "0 -122 0"
		"model"	 "models/lighthouse/mate/mate_termo.mdl"
		"classname"	"prop_dynamic"
		"targetname"	"c5m3_DE_item_drill"
		"glowrange"		"0"
		"glowcolor"		"255 255 255"
		"glowrange"		"5000"
}

{
	"classname" 	"math_counter"
	"max" 			"2"
	"targetname" 	"c5m3_DE_item_drill_counter"
	"OnHitMax"		"c5m3_DE_button_drill,Unlock,,0,-1"
	
	"OnHitMax"		"c5m3_DE_drill,TurnOn,,0,-1"
	"OnHitMax"		"c5m3_DE_drill_body,TurnOn,,0,-1"
}

{
		"classname"		"func_button_timed"
		"targetname"	"c5m3_DE_button_drill_body_item"
		"origin"		"3152.710693 3189.132568 72.031250"
		"use_time"		"2"
		"spawnflags"	"0"
		"OnTimeUp"		"c5m3_DE_item_drill_counter,add,1,0,-1"
		"OnTimeUp"		"c5m3_DE_item_drill_body,kill,,0,-1"
		"OnTimeUp"		"!self,kill,,0,-1"
}

{
		"classname"		"func_button_timed"
		"targetname"	"c5m3_DE_button_drill_item"
		"origin"		"4444.913085 2939.975585 72.031250"
		"use_time"		"2"
		"spawnflags"	"0"
		"solid"			"0"
		"OnTimeUp"		"c5m3_DE_item_drill_counter,add,1,0,-1"
		"OnTimeUp"		"c5m3_DE_item_drill,kill,,0,-1"
		"OnTimeUp"		"!self,kill,,0,-1"
}

{
	"classname"		"func_button_timed"
	"targetname"	"c5m3_DE_button_drill"
	"origin"		"3097.387939 2708.963867 216.031250"
	"use_time"		"4"
	"spawnflags"	"2048"
	"OnTimeUp"		"c5m3_DE_drill_body,EnableCollision,,0,-1"
	"OnTimeUp"		"c5m3_DE_drill_body,alpha,255,0,-1"
	"OnTimeUp"		"c5m3_DE_drill,EnableCollision,,0,-1"
	"OnTimeUp"		"c5m3_DE_drill,alpha,255,0,-1"
	"OnTimeUp"		"c5m3_DE_button_drill_start,Enable,,0,-1"
	"OnTimeUp"		"c5m3_DE_button_drill_start,Unlock,,0,-1"	
	"OnTimeUp"		"!self,kill,,0,-1"
}

{
		"classname"		"func_button_timed"
		"targetname"	"c5m3_DE_button_drill_start"
		"origin"		"3087.189208 2672.546386 226.031250"
		"use_time"		"4"
		"spawnflags"	"0"
		"OnPressed"		"sky_generator_nostart_loop,PlaySound,,0,-1"
		"OnUnPressed"	"sky_generator_nostart_loop,FadeOut,1,0,-1"
		"OnTimeUp"		"c5m3_DE_drill_sound_running4,PlaySound,,0,-1"
		"OnTimeUp"		"c5m3_DE_drill_sound_running3,PlaySound,,0,-1"
		"OnTimeUp"		"c5m3_DE_drill_sound_running2,PlaySound,,0,-1"
		"OnTimeUp"		"c5m3_DE_drill_sound_running1,PlaySound,,0,-1"
		"OnTimeUp"		"sky_generator_start_run_loop,PlaySound,,0,-1"
		"OnTimeUp"		"c5m3_DE_drill,stopglowing,,0,-1"
		"OnTimeUp"		"c5m3_DE_drill_body,stopglowing,,0,-1"
		"OnTimeUp"		"c5m3_DE_drill_rotating,Open,,0,-1"
		"OnTimeUp"		"sky_sparks,StartSpark,,0,-1"
		"OnTimeUp"		"churchguy,kill,,0,-1"
		"OnTimeUp"		"c5m3_DE_voice1,PlaySound,,1,-1"
		"OnTimeUp"		"c5m3_DE_voice2,PlaySound,,10,-1"
		"OnTimeUp"		"c5m3_DE_drill_timer,Enable,,10,-1"
		"OnTimeUp"		"c5m3_DE_voice3,PlaySound,,12.2,-1"
		"OnTimeUp"			"c5m3_DE_sound_churchbell,PlaySound,,12.2,-1"
		"OnTimeUp"		"c5m3_DE_voice4,PlaySound,,14.8,-1"
		"OntimeUp"		"director,ForcePanicEvent,,12.5,-1"
		"OnTimeUp" 		"directorBeginScriptc2m4_barns_onslaught0-1"
		"OnTimeUp"		"c5m3_DE_switch_entity,startglowing,,12.5,-1"
}

{
	"origin"		"2954.170410 2732.254882 176.031250"
	"classname" "ambient_generic"
	"health" "10"
	"message" "npc/churchguy/radiobutton107.wav"
	"pitch" "100"
	"pitchstart" "100"
	"radius" "2500"
	"spawnflags" "48"
	"targetname" "c5m3_DE_voice1"
}

{
	"origin"		"2954.170410 2732.254882 176.031250"
	"classname" "ambient_generic"
	"health" "10"
	"message" "npc/churchguy/radiobutton107.wav"
	"pitch" "100"
	"pitchstart" "100"
	"radius" "2500"
	"spawnflags" "48"
	"targetname" "c5m3_DE_voice1"
}

{
	"origin"		"2954.170410 2732.254882 176.031250"
	"classname" "ambient_generic"
	"health" "10"
	"message" "npc/churchguy/radiobutton110.wav"
	"pitch" "100"
	"pitchstart" "100"
	"radius" "2500"
	"spawnflags" "48"
	"targetname" "c5m3_DE_voice2"
}

{
	"origin"		"2954.170410 2732.254882 176.031250"
	"classname" "ambient_generic"
	"health" "10"
	"message" "npc/churchguy/radiobutton1extended40.wav"
	"pitch" "100"
	"pitchstart" "100"
	"radius" "2500"
	"spawnflags" "48"
	"targetname" "c5m3_DE_voice3"
}

{
		"origin"	"2954.170410 2732.254882 176.031250"
		"classname" "ambient_generic"
		"health" "10"
		"message" "Churchbell.StartLoop"
		"pitch" "100"
		"pitchstart" "100"
		"radius" "1250"
		"volstart"	"10"
		"spawnflags" "16"
		"targetname" "c5m3_DE_sound_churchbell"
}

{
	"origin"		"2954.170410 2732.254882 176.031250"
	"classname" "ambient_generic"
	"health" "10"
	"message" "npc/churchguy/radiobutton1extended43.wav"
	"pitch" "100"
	"pitchstart" "100"
	"radius" "2500"
	"spawnflags" "48"
	"targetname" "c5m3_DE_voice4"
}

{
	"classname" "logic_timer"
	"UseRandomTime" "0"
	"targetname" "c5m3_DE_drill_timer"
	"StartDisabled" "1"
	"spawnflags" "0"
	"RefireTime" "10"
	"OnTimer" "c5m3_DE_drill_working,PickRandom,,0,-1"
}

{
	"classname"		"logic_case"
	"targetname"	"c5m3_DE_drill_working"
	"OnCase01"		"c5m3_DE_drill_trigger,Trigger,,0,-1"
	"OnCase02"		"c5m3_DE_drill_trigger,Trigger,,0,-1"
	"OnCase03"		"c5m3_DE_drill_trigger,Trigger,,0,-1"
	"OnCase04"		"c5m3_DE_drill_trigger,Trigger,,0,-1"
	"OnCase05"		"c5m3_DE_drill_trigger,Trigger,,0,-1"
	"OnCase06"		"c5m3_DE_drill_trigger,Trigger,,0,-1"
	"OnCase07"		"c5m3_DE_drill_nothing,Trigger,,0,-1"
	"OnCase08"		"c5m3_DE_drill_nothing,Trigger,,0,-1"
}

{
	"classname"		"math_counter"
	"targetname"	"c5m3_DE_drill_working_progress"
	"max" 			"5"
	"OnHitMax"		"directorEndScriptc2m4_barns_onslaught0-1"
	"OnHitMax"		"c5m3_DE_drill_sound_running4,FadeOut,7,3.5,-1"
	"OnHitMax"		"c5m3_DE_drill_sound_running3,FadeOut,7,3.5,-1"
	"OnHitMax"		"c5m3_DE_drill_sound_running2,FadeOut,7,3.5,-1"
	"OnHitMax"		"c5m3_DE_drill_sound_running1,FadeOut,7,3.5,-1"
	"OnHitMax"		"sky_generator_start_run_loop,FadeOut,7,3.5,-1"
	"OnHitMax"		"!self,kill,,0,-1"
	"OnHitMax"		"c5m3_DE_drill_timer,kill,,0,-1"
	"OnHitMax"		"sky_sparks,StopSpark,,7,-1"
	"OnHitMax"		"c5m3_DE_drill_rotating,SetSpeed,0,7,-1"
	"OnHitMax"		"c5m3_DE_saferoom_door_unlocked_voice,PickRandom,,5,-1"
		"OnHitMax"		"c5m3_DE_saferoom_door,startglowing,,8,-1"
		"OnHitMax"		"c5m3_DE_saferoom_door,unlock,,8,-1"
}

{
	"classname"		"logic_relay"
	"targetname"	"c5m3_DE_drill_trigger"
	"OnTrigger"		"c5m3_DE_drill_working_progress,add,1,0,-1"
	"OnTrigger"		"c5m3_DE_drill_sound_broken,PlaySound,,0,-1"
}

{
	"classname"		"logic_relay"
	"targetname"	"c5m3_DE_drill_nothing"
	"OnTrigger"		"director,ForcePanicEvent,,0,-1"
}

{
	"solid" "6"
	"origin" "3026 2758 228"
	"angles" "0 180 0"
	"model"	 "models/props_doors/checkpoint_door_-02.mdl"
	"classname"	"prop_door_rotating"
	"targetname"	"c5m3_DE_saferoom_door"
	"glowstate"		"0"
	"glowrange"		"2500"
	"glowcolor"		"255 255 255"
	"spawnpos"		"0"
	"axis"			"3026 2758 228"
	"distance"		"90"
	"opendir"		"1"
	"spawnflags"	"8192"
	"returndelay"	"-1"
	"OnOpen"		"c5m3_DE_drill_finished,trigger,,0,-1"
}

{
	"classname"		"logic_relay"
	"targetname"	"c5m3_DE_drill_finished"
	"OnTrigger"		"c5m3_DE_saferoom_door,stopglowing,,0,-1"
	"OnTrigger"		"c5m3_DE_spawn_zombie,PickRandom,,0,-1"
	"OnTrigger"		"!self,kill,,0,-1"
}

{
	"classname"		"logic_case"
	"targetname"	"c5m3_DE_spawn_zombie"
	"OnCase01"		"c5m3_DE_spawn_smoker,SpawnZombie,,0,-1"
	"OnCase02"		"c5m3_DE_spawn_boomer,SpawnZombie,,0,-1"
	"OnCase03"		"c5m3_DE_spawn_hunter,SpawnZombie,,0,-1"
}

{
	"classname" "info_zombie_spawn"
	"targetname" "c5m3_DE_spawn_smoker"
	"origin" "2865.527832 2720.512207 176.031250"
	"population" "smoker"
}

{
	"classname" "info_zombie_spawn"
	"targetname" "c5m3_DE_spawn_boomer"
	"origin" "2865.527832 2720.512207 176.031250"
	"population" "boomer"
}

{
	"classname" "info_zombie_spawn"
	"targetname" "c5m3_DE_spawn_hunter"
	"origin" "2865.527832 2720.512207 176.031250"
	"population" "hunter"
}

{
	"classname"		"logic_auto"
	"OnMapSpawn"	"c5m3_DE_saferoom_door,lock,,0,-1"
}

{
	"classname"		"logic_case"
	"targetname"	"c5m3_DE_saferoom_door_unlocked_voice"
	"OnCase01"		"c5m3_DE_voice5,PlaySound,,0,-1"
	"OnCase02"		"c5m3_DE_voice6,PlaySound,,0,-1"
	"OnCase03"		"c5m3_DE_voice7,PlaySound,,0,-1"
	"OnCase04"		"c5m3_DE_voice8,PlaySound,,0,-1"
	"OnCase05"		"c5m3_DE_voice9,PlaySound,,0,-1"
}

{
	"origin"		"2954.170410 2732.254882 176.031250"
	"classname" "ambient_generic"
	"health" "10"
	"message" "npc/churchguy/radiocombatcolor01.wav"
	"pitch" "100"
	"pitchstart" "100"
	"radius" "2500"
	"spawnflags" "48"
	"targetname" "c5m3_DE_voice5"
}

{
	"origin"		"2954.170410 2732.254882 176.031250"
	"classname" "ambient_generic"
	"health" "10"
	"message" "npc/churchguy/radiocombatcolor02.wav"
	"pitch" "100"
	"pitchstart" "100"
	"radius" "2500"
	"spawnflags" "48"
	"targetname" "c5m3_DE_voice6"
}

{
	"origin"		"2954.170410 2732.254882 176.031250"
	"classname" "ambient_generic"
	"health" "10"
	"message" "npc/churchguy/radiocombatcolor03.wav"
	"pitch" "100"
	"pitchstart" "100"
	"radius" "2500"
	"spawnflags" "48"
	"targetname" "c5m3_DE_voice7"
}

{
	"origin"		"2954.170410 2732.254882 176.031250"
	"classname" "ambient_generic"
	"health" "10"
	"message" "npc/churchguy/radiocombatcolor04.wav"
	"pitch" "100"
	"pitchstart" "100"
	"radius" "2500"
	"spawnflags" "48"
	"targetname" "c5m3_DE_voice8"
}

{
	"origin"		"2954.170410 2732.254882 176.031250"
	"classname" "ambient_generic"
	"health" "10"
	"message" "npc/churchguy/radiocombatcolor05.wav"
	"pitch" "100"
	"pitchstart" "100"
	"radius" "2500"
	"spawnflags" "48"
	"targetname" "c5m3_DE_voice9"
}

{
	"solid" "6"
	"origin" "3829 2891 -15"
	"angles" "0 29 0"
	"model"	 "models/props_vehicles/airport_baggage_cart2.mdl"
	"classname"	"prop_dynamic"
}

{
	"solid" "6"
	"origin" "3029 2842 229"
	"angles" "180 0 0"
	"model"	 "models/props_unique/generator_switch_01.mdl"
	"classname"	"prop_dynamic"
	"glowcolor" "255 255 255"
	"glowstate" "0"
	"glowrange" "5000"
	"targetname" "c5m3_DE_switch_entity"
}

{
	"classname"		"func_button"
	"targetname"	"c5m3_DE_switch"
	"origin" "3019 2842 229"
	"spawnflags"	"1024"
	"OnPressed" 	"c5m3_DE_switch_entity,stopglowing,,0,-1"
	"OnPressed" 	"!self,Kill,,0.1,-1"
	"OnPressed"		"directorEndScriptc2m4_barns_onslaught0-1"
	"OnPressed"		"c5m3_DE_sound_churchbell,kill,,0,-1"
	"OnPressed"		"c5m3_DE_sound_churchbell_end,PlaySound,,0,-1"
	"OnPressed"		"c5m3_DE_sound_switch,PlaySound,,0,-1"
}

{
	"classname" "ambient_generic"
	"message" "ambient/atmosphere/arena_lights_off_01.wav"
	"pitch" "100"
	"health" "10"
	"pitchstart" "100"
	"spawnflags" "48"
	"radius" "5555"
	"targetname" "c5m3_DE_sound_switch"
	"origin" "3029 2842 229"
}

{
		"origin"	"2954.170410 2732.254882 176.031250"
		"classname" "ambient_generic"
		"health" "10"
		"message" "Churchbell.End"
		"pitch" "100"
		"pitchstart" "100"
		"radius" "1250"
		"volstart"	"10"
		"spawnflags" "16"
		"targetname" "c5m3_DE_sound_churchbell_end"
}