;----------FILE MODIFICATION [2025_02_15] ---------------||
;----------BY: Misaki----------------------||

add:
{
	"targetname" "l4d2_spawn_props_object_2025_02_15"
	"solid" "6"
	"origin" "66.71 -1622.72 -748.91"
	"angles" "370.00 -177.55 720.00"
	"model"	 "models/props_exteriors/wood_stairs_120_swamp.mdl"
	"classname"	"prop_dynamic_override"
}

{
	"targetname" "l4d2_spawn_props_object_2025_02_15"
	"solid" "6"
	"origin" "-2339.94 -1735.49 -1023.96"
	"angles" "0.00 181.96 0.00"
	"model"	 "models/props_exteriors/wood_stairs_120_swamp.mdl"
	"classname"	"prop_dynamic_override"
}

{
	"targetname" "l4d2_spawn_props_object_2025_02_15"
	"solid" "6"
	"origin" "-1884.65 -1737.99 -839.96"
	"angles" "0.00 180.89 0.00"
	"model"	 "models/props_exteriors/wood_stairs_swamp.mdl"
	"classname"	"prop_dynamic_override"
}

